
body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

.blu {
    color: #4D5AE5;
}


.black {
    color: #2E2F42;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.navig li{
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.contakts {
        font-family: 'Roboto', sans-serif;
        color: #2E2F42;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
.section-order {
    background: rgba(46, 47, 66, 1);;
}

h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.button {
    background-color: #F4F4FD;
    color: #4D5AE5;
}